<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить подписку</title>
    <link rel="stylesheet" href="/bulma/css/bulma.css">
    <meta charset="UTF-8">
</head>

<body>

<section class="section">

    <div class="container" style="max-width: 600px;">

        <h1 class="title">
            Добавить подписку
        </h1>

        <form method="post" action="/subscriptions/add">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">

            <div class="field">
                <label class="label">Название</label>
                <input class="input" type="text" name="name" required>
            </div>

            <div class="field">
                <label class="label">Компания</label>
                <input class="input" type="text" name="company" required>
            </div>

            <div class="field">
                <label class="label">Сайт</label>
                <input class="input" type="text" name="website">
            </div>

            <div class="field">
                <label class="label">Цена</label>
                <input class="input" type="number" step="1" name="price" required>
            </div>

            <div class="field">
                <label class="label">Дата начала</label>
                <input class="input" type="date" name="startDate" required>
            </div>

            <div class="field">
                <label class="label">Период (дней)</label>
                <input class="input" type="number" name="periodDays" required>
            </div>

            <div class="buttons">
                <button class="button is-primary" type="submit">
                    Сохранить
                </button>

                <a href="/" class="button">
                    Отмена
                </a>
            </div>
        </form>
    </div>
</section>

</body>
</html>